.logos-carousel .splide__arrow {  
  opacity: 1 !important;
  width: 22px !important;
  height: 22px !important;
  transform: none !important;
  top: 50% !important;
  margin-top: -11px !important;
}
.logos-carousel .splide__arrow--prev {
  left: 0.5rem !important;
}
.logos-carousel .splide__arrow--next {
  right: 0.5rem !important;
}
.logos-carousel .splide__arrow:disabled {
  display: none;
}
.logos-carousel .splide__arrow {  
  background: linear-gradient(131.01deg, #DA291C 56.9%, #FFCD00 131.6%), #DA291C;
}
.logos-carousel .splide__arrow svg {
  fill: white !important;
  height: 18px !important;
  width: 18px !important;
}

.logos-carousel[data-logos="1"] .splide__arrow {
  display: none;
}
@media screen and (min-width:480px) {
  .logos-carousel[data-logos="1"] .splide__list {
    justify-content: center;
  }
  .logos-carousel[data-logos="2"] .splide__arrow {
    display: none;
  }
}
@media screen and (min-width:640px) {
  .logos-carousel[data-logos="1"] .splide__list,
  .logos-carousel[data-logos="2"] .splide__list {
    justify-content: center;
  }
  .logos-carousel[data-logos="3"] .splide__arrow {
    display: none;
  }
}
@media screen and (min-width:768px) {
  .logos-carousel[data-logos="1"] .splide__list,
  .logos-carousel[data-logos="2"] .splide__list,
  .logos-carousel[data-logos="3"] .splide__list {
    justify-content: center;
  }
  .logos-carousel[data-logos="4"] .splide__arrow {
    display: none;
  }
}
@media screen and (min-width:1024px) {
  .logos-carousel[data-logos="1"] .splide__list,
  .logos-carousel[data-logos="2"] .splide__list,
  .logos-carousel[data-logos="3"] .splide__list,
  .logos-carousel[data-logos="4"] .splide__list {
    justify-content: center;
  }
  .logos-carousel[data-logos="5"] .splide__arrow {
    display: none;
  }
}