.timeline__items {
  position: relative;
}
.timeline__items::before {
  position: absolute;
  top: 42px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #DBDEE7;
}

.timeline-carousel .splide__arrows {
  position: absolute;
  display: flex;
  gap: 0.75rem;  
  bottom: -44px;
  right: 2rem;
}
.timeline-carousel .splide__arrow {
  position: static !important;
  opacity: 1 !important;
  width: 36px !important;
  height: 36px !important;
  transform: none !important;
}
.timeline-carousel .splide__arrow--prev {
  left: 0;
}
.timeline-carousel .splide__arrow--next {
  right: 0;
}
.timeline-carousel .splide__arrow:disabled {
  display: none;
}
.timeline-carousel .splide__arrow {
  background: #DA291C;
}
.timeline-carousel .splide__arrow svg {
  fill: white !important;
  height: 24px !important;
  width: 24px !important;
}

.wrapper .timeline__items {
  padding-left: 0 !important;
}

.wrapper.tb-gradient-orange .timeline-carousel .splide__arrow,
.timeline.tb-gradient-orange .timeline-carousel .splide__arrow  {
  background: #fff;
}
.wrapper.tb-gradient-orange .timeline-carousel .splide__arrow svg path,
.timeline.tb-gradient-orange .timeline-carousel .splide__arrow svg path {
  fill: #DA291C;
}